*{
    font-family: 'Andika', sans-serif;
}
.hero {
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(204, 95, 27);
    opacity: 0.9;
    z-index: -1;
    clip-path: polygon(51% 0, 100% 0, 100% 84%, 76% 84%);
}
.bgmaker {
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.bgmaker::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ff9933;
    opacity: 0.9;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 37% 30%, 37% 70%, 0 70%, 0% 70%, 0% 30%);
    
}
.testi {
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

.testi::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ff9933;
    z-index: -1;
    clip-path: polygon(0 0, 23% 0, 0 28%, 0 83%, 50% 100%, 142% 74%, 100% 100%, 0 100%);;
}
.boxdesign{
    max-width: 30%;
    min-height: '400px';
    padding: '10px';
    box-shadow: '0 0 10px 0 orange';
}
.userReg {
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
  }
  
  .userReg::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, #ff9933, #c9663c, #883f38, #452226, #000000);
    z-index: -1;
    clip-path: polygon(100% 0, 100% 0, 35% 0, 35% 100%, 100% 100%, 100% 100%, 48% 100%, 0 100%, 0 0);
  }
  
  @media (max-width: 480px){
    .hero::after {
        clip-path: polygon(0 47%, 100% 47%, 100% 100%, 0% 100%);
    }
    .testi {
        position: relative;
    }
    
    .testi::after {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    }
    .boxdesign{
        max-width: 100%;
    }
    .userReg::after {
        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
      }
  }